---
etc_hostname: chapek9

etc_fstab_entries_overwrite:
  root:
    src: UUID=254d6a53-398a-4a53-93d1-c45e61263791
  home:
    src: UUID=254d6a53-398a-4a53-93d1-c45e61263791

rpm_ostree_kargs_overwrite:
  'i915.enable_psr=0':
    state: present
  'mem_sleep_default=deep':
    state: present

flatpak_flatpaks_overwrite:
  org.gnome.Firmware:
    state: present
    remote: flathub
